body {
background-color: #4286f4;
}

h1{
  height: 50px;
  width: 200px
}

h1 {
  border-style: solid;
  border-width: 5px;
  text-align: center;
  background-color: #42dcf4;
  color:darkblue;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

h2{
  height: 50px;
  width: 200px;
}

h2 {
  border-style: solid;
  border-left: 6px;
  background-color: #8fc1c9;
  margin: 1px;
  height: 50px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 10%;
}

div {
  border-width: 10px;
  border-style: solid;
  background-color: #42dcf4;
  color: #42dcf4;
  border-bottom-right-radius: 15% ;
  border-top-left-radius:15%;
  border-top-right-radius: 10%;
}

p {
  color: darkblue;
  letter-spacing: 3px;
  font font-size: 20px;
}

ul {
  width: 450px;
  background-color: darkblue;
  border-width: 10px;
  border-style: solid;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 50%
}

#countiesVisited {
  text-align: center;
  list-style-type: none;
  font-weight: bold;
}

h4 {
  border: solid;
  color: darkgray;
  border-color: gray;
}

#me {
width: 100px;
height: 100px;
padding: 5px;
position: absolute;
float: right;
padding-left: 500px;
}
